<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>How it works</h2>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Create a data request</h3>
				<p>Beneficiaries consult with Knowmore to come up with a compelling story for data-driven effectiveness. A request is created highlighting what the current pains are, how a data solution will help, and the impactful actions that will result from completion of the request.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Community Endorsement</h3>
				<p>With a compelling request, .</p>
			</li>
			<li class="icon fa-code">
				<h3>Mus Scelerisque</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Mauris Imperdiet</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul>
	</div>
</section>
