<!DOCTYPE HTML>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108633754-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108633754-1');
</script>

<html>
{% include head.html %}

<body class="landing">
{% include header.html %}
{% include banner.html %}
{% include section-one.html %}
{% include section-two.html %}
{% include cta.html %}
{% include footer.html %}
</body>

</html>
